@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

.acordion {
  width: 50vh;
}

.item {
  margin-bottom: 5px;
  padding: 10px 20px;
}

.title {
  color: #81397e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  background-color: #009688;
  color: #FFFFFF;
  list-style: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  border-radius: 5px;
  margin: 2px;
  height: 34px;
  padding-left: 16px;
}

.content:hover {
  background-color: #03665c;
}

.borderEquivalencia {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 3px;
  width: 94%;
  height: 430px;

}

@keyframes rightToLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes rightToLeft2 {
  0% {
    transform: translateX(0%);
  }

  90% {
    transform: translateX(-100%);
  }
}

.titleDesign {
  position: absolute;
  left: 57%;
  right: 0.29%;
  top: 40%;
  bottom: 0.5%;
  width: 342px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;

  color: #FFFFFF;

}

.titleBrand {
  position: absolute;
  left: 24%;
  right: -229.34%;
  top: 6%;
  bottom: 18%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 40px;
  /* identical to box height, or 96% */

  letter-spacing: -0.02em;

  color: #FFFFFF;
}

.gradient {
  background: linear-gradient(67.6deg, #FFDF4C 6.79%, #0096A6 67.73%);
}

.nav-data {
  display: flex;
  margin-top: 10px;
  max-width: 51rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 780px) {
  .nav-data {
    max-width: 14rem;
  }
}

// .wrapper {
//   left: -100%;
// }

// .wrapper-2 {
//   left: 90%;
// }

.target {
  transition: 300s linear;
  -webkit-animation: rightToLeft 300s linear;
  animation: rightToLeft 300s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.target-2 {
  transition: 300s linear;
  -webkit-animation: rightToLeft2 300s linear;
  animation: rightToLeft2 300s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.transformText {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #81397e;
  text-shadow: 0.5px 0 0 #ffdf4c, -0.5px 0 0 #ffdf4c, 0 0.5px 0 #ffdf4c,
    0 -0.5px 0 #ffdf4c, 0.5px 0.5px #ffdf4c, -0.5px -0.5px 0 #ffdf4c,
    0.5px -0.5px 0 #ffdf4c, -0.5px 0.5px 0 #ffdf4c;
  text-align: center;
}

.shadowPromote {
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  bottom: -10px;
  padding-bottom: 15px;
}

.containerConverter {
  top: -40px
}

.leaflet-container {
  width: 100%;
  height: 40vh;
}

.backgroundMoney {
  background-color: #0096A6;
  color: #FFFFFF;
  font-size: xx-large;
  padding: 0;
  margin: 0;
}



.containerMoney {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.containerEquivalence {
  grid-column: span 3;
}

.containeDetected {
  grid-column: span 2;
}

@media (max-width: 1000px) {
  .containerConverter {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 100%;
  }

  .containerMoney {
    grid-template-columns: repeat(3, 1fr);
  }

  .containerEquivalence {
    grid-column: span 2;
    margin-bottom: 15px;
  }

  .containeDetected {
    grid-column: span 1;
  }

  .borderEquivalencia {
    margin-bottom: 10px;

  }


}


@media (max-width: 880px) {
  .containerMoney {
    grid-template-columns: repeat(1, 1fr);
  }

  .containerEquivalence {
    grid-column: span 1;
  }

  .containeDetected {
    grid-column: span 1;
  }

  .borderEquivalencia {
    margin: 0px;

  }


}

.MuiAccordionSummary-root {
  margin: 0px;
}